<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Your Welcome to website</h1>

    <a class="btn btn-dark btn-lg" href="/index" role="button">Chat app</a>


    <hr>

  </div>
</div>

<%- include('partials/footer') %>
